@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0; 
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

$red : #eb4d4b;
$black : #130f40;
$light-color : #666;
$light-bg : #f9f9f9;
$border : .1rem solid rgba(0,0,0,.3);
$box-shadow : 0 .5rem 1rem rgba(0,0,0,.1);

@mixin grid($value) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($value, 1fr));
    gap:1.5rem;
}

%text-stroke{
    color:#fff;
    cursor: pointer;
    -webkit-text-stroke: .1rem $black;

    &:hover{
        -webkit-text-stroke: .1rem $red;
    }
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    overflow-x: hidden;

    &::-webkit-scrollbar{
        width:1rem;
    }

    &::-webkit-scrollbar-track{
        background: #fff;
    }

    &::-webkit-scrollbar-thumb{
        background: $red;
        border-radius: 5rem;
    }
}

section {
    padding:2rem 9%;
}

.heading {
    font-size: 3.5rem;
    color: $black;
    padding-bottom: 2rem;
    text-align: center;

    span {
        color: $red;
    }
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .9rem 3rem;
    border-radius: .5rem;
    background: $red;
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;

    &:hover {
        background: $black;
    }
}



/* ======= Header Section/Seção do cabeçalho ======= */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;

    .logo {
        font-size: 2.5rem;
        color: $black;
        font-weight: bolder;

        i {
            color: $red;
        }
    }

    .navbar {

        a {
            font-size: 1.7rem;
            color: $light-color;
            margin: 0 1rem;

            &:hover {
                color: $red;
            }
        }
    }

    .icons div,
    .icons a {
        font-size: 2.5rem;
        margin-left: 2rem;
        @extend %text-stroke;
    }

    .search-form {
        position: absolute;
        top: 115%;
        right: -105%;
        width: 50rem;
        height: 5.5rem;
        background: #fff;
        border-radius: .5rem;
        display: flex;
        align-items: center;
        overflow: hidden;
        box-shadow: $box-shadow;
        border: $border;

        &.active {
            right: 2rem;
            transition: .4s linear;
        }

        input {
            height: 100%;
            width: 100%;
            font-size: 1.6rem;
            text-transform: none;
            color: $black;
            padding: 0 1.2rem;
        }

        label {
            font-size: 2.2rem;
            @extend %text-stroke;
            margin-right: 1.7rem;
        }
    }
}

#menu-btn {
    display: none;
}



/* ======= Home Section/Seção de inicio ======= */
.home{
    padding:0;
    padding-top: 7.6rem;

    .home-slider{

        .slide{
            min-height: 65vh;
            display: flex;
            align-items: center;
            padding:2rem;
            padding-left: 7%;
            background-size: cover !important;
            background-position: center !important;

            .content{

                span{
                    font-size: 2rem;
                    color:$light-color;
                }

                h3{
                    font-size: 6rem;
                    color:$black;
                    padding-top: .5rem;
                }

            }

        }

    }

    .swiper-button-next{
        top: 90%;
        right: 2rem;
    }

    .swiper-button-prev{
        top: 90%;
        right: 8rem;
        left: auto;
    }

}

.swiper-button-next,
.swiper-button-prev {
    height: 5rem;
    width: 5rem;
    border-radius: .5rem;
    background:#fff;
    box-shadow: $box-shadow;
    border: $border;
    color: $black;

    &:hover{
        background: $black;
        color:#fff;
    }

}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}


/* ======= Banner Section/Seção de banner ======= */
.banner-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;

    .banner {
        flex: 1 1 42rem;
        overflow: hidden;
        height: 30rem;
        position: relative;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &:hover img {
            transform: scale(1.2);            
        }

        .content {
            position: absolute;
            top: 50%;
            right: 5rem;
            transform: translateY(-50%);

            span {
                font-size: 2rem;
                color: $light-color;
            }

            h3 {
                font-size: 3.2rem;
                color: $black;
                padding-top: .5rem;
            }
        }
    }
}



/* ======= Products Section/Seção de produtos ======= */
.products {

    .filter-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 2.5rem;
        gap: 2rem;

        .buttons {
            font-size: 1.7rem;
            color: $light-color;
            cursor: pointer;

            &:hover,
            &.active {
                color:$red;
            }
        }
    }

    .box-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;

        .box{
            width: 26rem;
            border-radius: .5rem;
            overflow: hidden;
            position: relative;
            box-shadow: $box-shadow;
            border: $border;

            &.hide{
                display: none;
            }

            &.active{
                animation:fadeUp .4s linear;
            }

            .icons{
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(0,0,0,.7);
                height: 35rem;
                width: 100%;
                position: absolute;
                top:0; left:0;
                gap:.5rem;
                transform: scale(0);
                z-index: 1;

                a{
                    font-size: 2rem;
                    height: 5rem;
                    width: 5rem;
                    line-height: 5rem;
                    text-align: center;
                    background:#fff;
                    border-radius: .5rem;
                    @extend %text-stroke;
                }

            }

            &:hover .icons{
                transform: scale(1);
            }

            .image{
                height: 35rem;
                width: 100%;
                overflow: hidden;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            &:hover .image img{
                transform: scale(1.1);
            }

            .content{
                padding:1rem 1.5rem;

                h3{
                    font-size: 2rem;
                    color:$black;
                    font-weight: normal;
                }

                .price{
                    padding:.5rem 0;
                    display: flex;
                    gap:.5rem;
                    align-items: center;

                    .amount{
                        font-size: 2.2rem;
                        font-weight: bolder;
                        color:$black;
                    }

                    .cut{
                        font-size: 1.5rem;
                        text-decoration: line-through;
                        color:$light-color;
                    }

                    .offer{
                        font-size: 2rem;
                        color:$red;
                    }

                }

                .stars{
                    font-size: 1.7rem;
                    
                    i{
                        color:gold;
                    }

                    span{
                        color:$light-color;
                    }
                }
            }
        }
    }
}


/* ======= Deal Section/Seção de negócios ======= */
.deal {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    background: linear-gradient(#fff 20%, $light-bg 20.1%);
    //justify-content: center;

    .image {
        flex: 1 1 42rem;

        img {
            width: 40rem;
        }
    }

    .content {
        flex: 1 1 42rem;

        span {
            color: $red;
            font-size: 1.7rem;
        }

        h3 {
            color: $black;
            font-size: 3rem;
            padding: .5rem 0;
        }

        p {
            color: $light-color;
            font-size: 2rem;
        }
    }
}


/* ======= Featured Section/Seção em destaque ======= */
.featured{

    .featured-slider{

        .slide{
            border-radius: .5rem;
            overflow: hidden;
            position: relative;
            box-shadow: $box-shadow;
            border:$border;

            .icons{
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(0,0,0,.7);
                height: 35rem;
                width: 100%;
                position: absolute;
                top:0; left:0;
                gap:.5rem;
                transform: scale(0);
                z-index: 1;

                a{
                    font-size: 2rem;
                    height: 5rem;
                    width: 5rem;
                    line-height: 5rem;
                    text-align: center;
                    background:#fff;
                    border-radius: .5rem;
                    @extend %text-stroke;
                }

            }

            &:hover .icons{
                transform: scale(1);
            }

            .image{
                height: 35rem;
                width: 100%;
                overflow: hidden;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            &:hover .image img{
                transform: scale(1.1);
            }

            .content{
                padding:1rem 1.5rem;

                h3{
                    font-size: 2rem;
                    color:$black;
                    font-weight: normal;
                }

                .price{
                    padding:.5rem 0;
                    display: flex;
                    gap:.5rem;
                    align-items: center;

                    .amount{
                        font-size: 2.2rem;
                        font-weight: bolder;
                        color:$black;
                    }

                    .cut{
                        font-size: 1.5rem;
                        text-decoration: line-through;
                        color:$light-color;
                    }

                    .offer{
                        font-size: 2rem;
                        color:$red;
                    }

                }

                .stars{
                    font-size: 1.7rem;
                    
                    i{
                        color:gold;
                    }

                    span{
                        color:$light-color;
                    }
                }

            }
        }

    }

}

.review{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: $light-bg;

    .slide{
        border-radius: .5rem;
        background:#fff;
        border:$border;
        padding:2rem;
        text-align: center;
        box-shadow: $box-shadow;

        p{
            font-size: 1.4rem;
            color:$light-color;
            line-height: 2;
        }

        .user{
            padding-top: 2rem;
            display: flex;
            align-items: center;
            gap:1rem;
            justify-content: center;

            img{
                height: 7rem;
                width: 7rem;
                object-fit: cover;
                border-radius: 50%;
            }

            h3{
                font-size: 2.2rem;
                color:$black;
            }

            span{
                font-size: 1.5rem;
                color:$red
            }
        }
    }

}































/* ======= Responsive/Responsividade ======= */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        background:#fff;
        border-bottom: $border;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

        &.active{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        a{
            font-size: 2rem;
            margin:2rem;
            display: block;
        }

    }
    
    .header .search-form{
        width:100%;
        top:100%;
        border-radius: 0;

        &.active{
            right:0;
        }
    }

    .home .home-slider .slide{
        padding-left: 2rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

    .banner-container .banner .content{
        right: 2rem;

        h3{
            font-size: 2rem;
        }

    }

    .products .box-container .box{
        width: 100%;
    }

    .deal .image img{
        width:100%;
    }

    .deal .content{
        padding-top: 2rem;
        text-align: center;
    }

    .featured .swiper-button-next,
    .featured .swiper-button-prev{
        display: none;
    }

    .blogs .swiper-button-next,
    .blogs .swiper-button-prev{
        display: none;
    }

    .contact .row form .inputBox input{
        width: 100%;
    }

}



/*
    sass --watch ./css/style.scss:./css/style.css

    - https://swiperjs.com/get-started

    
*/




