@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

.featured .featured-slider .slide .icons a, .products .box-container .box .icons a, .header .search-form label, .header .icons div,
.header .icons a {
  color: #fff;
  cursor: pointer;
  -webkit-text-stroke: 0.1rem #130f40;
}
.featured .featured-slider .slide .icons a:hover, .products .box-container .box .icons a:hover, .header .search-form label:hover, .header .icons div:hover,
.header .icons a:hover {
  -webkit-text-stroke: 0.1rem #eb4d4b;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #fff;
}
html::-webkit-scrollbar-thumb {
  background: #eb4d4b;
  border-radius: 5rem;
}

section {
  padding: 2rem 9%;
}

.heading {
  font-size: 3.5rem;
  color: #130f40;
  padding-bottom: 2rem;
  text-align: center;
}
.heading span {
  color: #eb4d4b;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.9rem 3rem;
  border-radius: 0.5rem;
  background: #eb4d4b;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}
.btn:hover {
  background: #130f40;
}

/* ======= Header Section/Seção do cabeçalho ======= */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: #fff;
}
.header .logo {
  font-size: 2.5rem;
  color: #130f40;
  font-weight: bolder;
}
.header .logo i {
  color: #eb4d4b;
}
.header .navbar a {
  font-size: 1.7rem;
  color: #666;
  margin: 0 1rem;
}
.header .navbar a:hover {
  color: #eb4d4b;
}
.header .icons div,
.header .icons a {
  font-size: 2.5rem;
  margin-left: 2rem;
}
.header .search-form {
  position: absolute;
  top: 115%;
  right: -105%;
  width: 50rem;
  height: 5.5rem;
  background: #fff;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.header .search-form.active {
  right: 2rem;
  transition: 0.4s linear;
}
.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  text-transform: none;
  color: #130f40;
  padding: 0 1.2rem;
}
.header .search-form label {
  font-size: 2.2rem;
  margin-right: 1.7rem;
}

#menu-btn {
  display: none;
}

/* ======= Home Section/Seção de inicio ======= */
.home {
  padding: 0;
  padding-top: 7.6rem;
}
.home .home-slider .slide {
  min-height: 65vh;
  display: flex;
  align-items: center;
  padding: 2rem;
  padding-left: 7%;
  background-size: cover !important;
  background-position: center !important;
}
.home .home-slider .slide .content span {
  font-size: 2rem;
  color: #666;
}
.home .home-slider .slide .content h3 {
  font-size: 6rem;
  color: #130f40;
  padding-top: 0.5rem;
}
.home .swiper-button-next {
  top: 90%;
  right: 2rem;
}
.home .swiper-button-prev {
  top: 90%;
  right: 8rem;
  left: auto;
}

.swiper-button-next,
.swiper-button-prev {
  height: 5rem;
  width: 5rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  color: #130f40;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #130f40;
  color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
}

/* ======= Banner Section/Seção de banner ======= */
.banner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.banner-container .banner {
  flex: 1 1 42rem;
  overflow: hidden;
  height: 30rem;
  position: relative;
}
.banner-container .banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.banner-container .banner:hover img {
  transform: scale(1.2);
}
.banner-container .banner .content {
  position: absolute;
  top: 50%;
  right: 5rem;
  transform: translateY(-50%);
}
.banner-container .banner .content span {
  font-size: 2rem;
  color: #666;
}
.banner-container .banner .content h3 {
  font-size: 3.2rem;
  color: #130f40;
  padding-top: 0.5rem;
}

/* ======= Products Section/Seção de produtos ======= */
.products .filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2.5rem;
  gap: 2rem;
}
.products .filter-buttons .buttons {
  font-size: 1.7rem;
  color: #666;
  cursor: pointer;
}
.products .filter-buttons .buttons:hover, .products .filter-buttons .buttons.active {
  color: #eb4d4b;
}
.products .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}
.products .box-container .box {
  width: 26rem;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.products .box-container .box.hide {
  display: none;
}
.products .box-container .box.active {
  animation: fadeUp 0.4s linear;
}
.products .box-container .box .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  height: 35rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  gap: 0.5rem;
  transform: scale(0);
  z-index: 1;
}
.products .box-container .box .icons a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  background: #fff;
  border-radius: 0.5rem;
}
.products .box-container .box:hover .icons {
  transform: scale(1);
}
.products .box-container .box .image {
  height: 35rem;
  width: 100%;
  overflow: hidden;
}
.products .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.products .box-container .box:hover .image img {
  transform: scale(1.1);
}
.products .box-container .box .content {
  padding: 1rem 1.5rem;
}
.products .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
  font-weight: normal;
}
.products .box-container .box .content .price {
  padding: 0.5rem 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.products .box-container .box .content .price .amount {
  font-size: 2.2rem;
  font-weight: bolder;
  color: #130f40;
}
.products .box-container .box .content .price .cut {
  font-size: 1.5rem;
  text-decoration: line-through;
  color: #666;
}
.products .box-container .box .content .price .offer {
  font-size: 2rem;
  color: #eb4d4b;
}
.products .box-container .box .content .stars {
  font-size: 1.7rem;
}
.products .box-container .box .content .stars i {
  color: gold;
}
.products .box-container .box .content .stars span {
  color: #666;
}

/* ======= Deal Section/Seção de negócios ======= */
.deal {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  background: linear-gradient(#fff 20%, #f9f9f9 20.1%);
}
.deal .image {
  flex: 1 1 42rem;
}
.deal .image img {
  width: 40rem;
}
.deal .content {
  flex: 1 1 42rem;
}
.deal .content span {
  color: #eb4d4b;
  font-size: 1.7rem;
}
.deal .content h3 {
  color: #130f40;
  font-size: 3rem;
  padding: 0.5rem 0;
}
.deal .content p {
  color: #666;
  font-size: 2rem;
}

/* ======= Featured Section/Seção em destaque ======= */
.featured .featured-slider .slide {
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.featured .featured-slider .slide .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  height: 35rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  gap: 0.5rem;
  transform: scale(0);
  z-index: 1;
}
.featured .featured-slider .slide .icons a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  background: #fff;
  border-radius: 0.5rem;
}
.featured .featured-slider .slide:hover .icons {
  transform: scale(1);
}
.featured .featured-slider .slide .image {
  height: 35rem;
  width: 100%;
  overflow: hidden;
}
.featured .featured-slider .slide .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.featured .featured-slider .slide:hover .image img {
  transform: scale(1.1);
}
.featured .featured-slider .slide .content {
  padding: 1rem 1.5rem;
}
.featured .featured-slider .slide .content h3 {
  font-size: 2rem;
  color: #130f40;
  font-weight: normal;
}
.featured .featured-slider .slide .content .price {
  padding: 0.5rem 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.featured .featured-slider .slide .content .price .amount {
  font-size: 2.2rem;
  font-weight: bolder;
  color: #130f40;
}
.featured .featured-slider .slide .content .price .cut {
  font-size: 1.5rem;
  text-decoration: line-through;
  color: #666;
}
.featured .featured-slider .slide .content .price .offer {
  font-size: 2rem;
  color: #eb4d4b;
}
.featured .featured-slider .slide .content .stars {
  font-size: 1.7rem;
}
.featured .featured-slider .slide .content .stars i {
  color: gold;
}
.featured .featured-slider .slide .content .stars span {
  color: #666;
}

.review {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #f9f9f9;
}
.review .slide {
  border-radius: 0.5rem;
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  padding: 2rem;
  text-align: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.review .slide p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
}
.review .slide .user {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.review .slide .user img {
  height: 7rem;
  width: 7rem;
  object-fit: cover;
  border-radius: 50%;
}
.review .slide .user h3 {
  font-size: 2.2rem;
  color: #130f40;
}
.review .slide .user span {
  font-size: 1.5rem;
  color: #eb4d4b;
}

/* ======= Responsive/Responsividade ======= */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .navbar a {
    font-size: 2rem;
    margin: 2rem;
    display: block;
  }

  .header .search-form {
    width: 100%;
    top: 100%;
    border-radius: 0;
  }
  .header .search-form.active {
    right: 0;
  }

  .home .home-slider .slide {
    padding-left: 2rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }

  .banner-container .banner .content {
    right: 2rem;
  }
  .banner-container .banner .content h3 {
    font-size: 2rem;
  }

  .products .box-container .box {
    width: 100%;
  }

  .deal .image img {
    width: 100%;
  }

  .deal .content {
    padding-top: 2rem;
    text-align: center;
  }

  .featured .swiper-button-next,
.featured .swiper-button-prev {
    display: none;
  }

  .blogs .swiper-button-next,
.blogs .swiper-button-prev {
    display: none;
  }

  .contact .row form .inputBox input {
    width: 100%;
  }
}
/*
    sass --watch ./css/style.scss:./css/style.css

    - https://swiperjs.com/get-started


*/

/*# sourceMappingURL=style.css.map */
